<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">                
                    <%=err.message%>
                </h4>
                <p>Sorry about that. Receiving an error.
                </p>
                <hr>
                <p class="mb-0"> What are you up to? Anyway, thank you for using the Wine and Cheese App.</p>
                <% if (process.env.NODE_ENV !== "production") {%>                           
                <p><%= err.stack %></p>            
                
                <% } %> 
            </div>
        </div>
    </div>